extends layout

block content
  title HomePage
  .w3-container.w3-margin
    h1 HomePage
    table.w3-table-all
        tr
            th Classes
            td 
              a(href="/classes") Classes
        tr
            th Termos de Indice
            td 
              a(href="/ti") Termos de Indice
        
